{% extends "base.html" %}
{% load static %}
{% block title %}
  О компании
{% endblock %}
{% block description%}
Описание сайта О компании
{% endblock %}

{% block content %}
<div class="bradcam_area bradcam_bg_1" xmlns="http://www.w3.org/1999/html">
        <div class="container">
            <div class="row">
                <div class="col-xl-12">
                    <div class="bradcam_text text-center">
                        <h3>Создание тегов</h3>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <!--/ bradcam_area  -->
<div class="container">
    <div class="row">
        <div class="col-lg-8 col-md-10 mx-auto p-5">
            <form method="post" enctype="multipart/form-data">
                {% csrf_token %}
                {{ form.as_p }}
                <button type="submit" class="btn btn-primary">Сохранить</button>
            </form>
        </div>
    </div>
</div>
{% endblock %}